@page {
  margin: 0;
  size: A4;
}

@media print {
  body {
    margin: 0;
    background: white;
  }

  .no-print {
    display: none !important;
  }

  /* Sadece belirli alan yazdırılsın */
  body * {
    visibility: hidden;
  }

  #etiket-pdf,
  #etiket-pdf * {
    visibility: visible;
  }

  #etiket-pdf {
    position: absolute;
    top: 0;
    left: 0;
  }
}
